.contenitore{
    background-color: #1a8cff;   
    background-image: url(./img/pattern.png); 
    height: 170px;
}

.logo{
    height: 100px;
    width: 200px;
    padding: 50px;
}

.descrizione{
    font-size: 13px;
    line-height: 10%;
    font-family: inherit;
    
}

.span{
    background-color: yellow;
   
}

.evidenzia{
    background-color: yellow;
}

.scritte{
    padding: 10px;
    line-height: 10%;
    
}

.evidenziatore{
    color:lightblue;
}

.evidenziatore2{
    color: grey;
}

.data{
    font-size: 12px;
}

.colore{
    color: grey;
    line-height: 20%;
    margin: 10px;
}

.paragrafo{
    margin: 10px;
}